.header {
    background-color: black;
    border-radius: 0.2rem;
    align-items: center;
    text-align: center;
    padding: 1;
}

.header-logo {
    color: white;
}

.main {
    margin-top: 30;
    margin-bottom: 30;
}

.gurauan-section {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#generate-gurauan {
    background-color: black;
    color: white;
    border: none;
    padding: 8;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    padding: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.footer-github {
    display: flex;
    gap: 10px;
}